[Desktop Entry]
Version=0.1
Name={{name}}-podman
Exec=sh -c "echo -n 'Starting {{name}} in container: ' && {{shell_run_cmd}} && sleep 5"
Icon={{name}}-podman
Terminal=false
Type=Application
StartupNotify=false
